/* Global body styling */
:root {
  --black: #000000;
  --white: #ffffff;

  --sand-dark: #c0674b;
  --sand-med: #e19356;
  --sand-light: #eaa65f;
  --sand-lightest: #fcdba7;
  --blue-dark: #406275;
  --fake-blue: #6998de;

  --gradient-header-top:  #c0674b;
  --gradient-header-bottom:  #eaa65f;
}

body {
  cursor: url("../images/cursors/Cursor.png"), auto;
  font-family: "Oxygen", sans-serif;
  font-size: 16px;
  background: var(--black);
  color: var(--sand-lightest);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Aleo, sans-serif;
  text-align: center;
  color: var(--sand-dark);
  letter-spacing: 2px;
}

/* Controls the circle with arrow near logo & facebook hyperlink on bottom of page*/
a {
  color: var(--black);
  transition: all 0.2s ease-in;
}
a:hover{
  color: var(--white);
  transition: all 0.3s ease 0s;
  /*cursor: url("../images/cursors/ghost-cursor.png"), auto;*/
}
a:active,
a:focus {
  color: var(--white);
}

sup {
  display: block;
  margin: 30px 0;
}

/* END Global body styling */

/* Re-useable component styling */

.vertical-center {
  display: flex;
  align-items: center;
}

.horizontal-center {
  display: flex;
  justify-content: center;
}

.paragraph {
  margin-top: 2em;
  line-height: 20pt;
}

.breaker{
  color: var(--blue-dark);
  border: 1px solid;
  margin-top: 35px;
  margin-bottom: 25px;
}

.highlight {
  color: var(--sand-dark);
}

.titlehighlight {
  color: var(--fake-blue);
}

.btn-primary {
  color: var(--black);
  border-color: var(--sand-dark);
  background-color: var(--sand-lightest);
  border-radius: 0px;
  transition: all 0.3s ease 0s;
  /*cursor: url("../images/cursors/ghost-cursor.png"), auto;*/
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: var(--sand-dark);
  color: var(--white);
  border-color: var(--sand-lightest);
}

/* END Re-useable component styling */

/* Navigation styling */

.navbar-inverse {
  background-color: var(--sand-light);
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  font-family: Montserrat, sans-serif;
  color: var(--white);
}

.navbar-right {
  margin-right: 1em;
  text-align: center;
}

.clear-nav {
  background: none;
  border: none;
}

.dark-nav {
  -webkit-transition: ease-in 0.2s all;
  transition: linear ease-in 0.2s all;
}

/* END Navigation styling */

/* Splash screen styling */

#splash-screen {
  color: var(--white);
  height: 100vh;
  position: relative;

  background: linear-gradient(to top, var(--gradient-header-bottom) 0%, var(--gradient-header-top) 100%);
}

#logo {
  margin-top: 40px;
  max-height: 500px;
  user-select: none;
}

#title-main {
  margin-top: -20px;
}

#title-location {
  font-size: 2vh;
  margin-top: -0.5vh;
  line-height: 3.5vh;
  color: var(--white);
}

#main-sponsor {
  font-family: Montserrat, sans-serif;
  font-size: 10pt;
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px;
}

#main-sponsor > span {
  padding-right: 10px;
}

.splash-logo {
  width: 20vh;
}

/* END Splash screen styling */

/* Parallax header styling */

.header {
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em 0 1em 0;
}

.header > h2 {
  text-transform: uppercase;
  font-size: 35pt;
}

/* END Parallax header styling */

/* Main content styling */

#main-body {
  width: 80vw;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 100px;
}

#embedded-map {
  pointer-events: none;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

#signup-button {
  width: 175px;
  font-size: 14pt;
  margin: 0 auto;
  display: block;
  margin-bottom: 30px;
}

.img-holder {
  display: inline-block;
}

.software-logo {
  width: 50px;
  margin: 10px;
}

/* END Main content styling */

/* Footer styling */

#footer {
  text-align: center;
  margin-top: 8em;
  padding: 1em;
  display: block;
  overflow: auto;

  background-color: var(--sand-light);
}

.footer-logo {
  height: 50px;
}

.footer-logo__large {
  height: 130px;
}

.footer-logo__medium {
  height: 70px;
}

.footer-logo__small{
  height: 30px;
}

/* END Footer styling */

/* Icon Colors */

//Use ctrl-shift-I in browser, pick the color with the color wheel. can't figure out why it doesn't match sometimes
.fa-facebook {
  var(--fake-blue); 
}
