/* Global body styling */
:root {
  --dark-pink: #e68fc6;
  --light-pink: #fbefef;
  --light-pink-transparent: rgba(251, 239, 239, 0.2);
  --neon-green: #1fe6ad;
  --black: #000000;
  --white: #ffffff;

  --gradient-pink:  #fed6e3;
  --gradient-blue:  #a8edea;
}

body {
  /*cursor: url("../images/cursors/ghost-cursor.png"), auto;*/
  font-family: "Oxygen", sans-serif;
  font-size: 16px;
  background: var(--light-pink);
  color: var(--black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Aleo, sans-serif;
  text-align: center;
  color: var(--dark-pink);
  letter-spacing: 2px;
}

/* Controls the circle with arrow near logo & facebook hyperlink on bottom of page*/
a {
  color: var(--light-pink);
  transition: all 0.2s ease-in;
}
a:hover{
  color: var(--black);
  transition: all 0.3s ease 0s;
  /*cursor: url("../images/cursors/ghost-cursor.png"), auto;*/
}
a:active,
a:focus {
  color: var(--white);
}

sup {
  display: block;
  margin: 30px 0;
}

/* END Global body styling */

/* Re-useable component styling */

.vertical-center {
  display: flex;
  align-items: center;
}

.horizontal-center {
  display: flex;
  justify-content: center;
}

.paragraph {
  margin-top: 2em;
  line-height: 20pt;
}

.breaker{
  color: var(--neon-green);
  border: 1px solid;
  margin-top: 35px;
  margin-bottom: 25px;
}

.highlight {
  color: var(--dark-pink);
}

.titlehighlight {
  color: var(--neon-green);
}


.btn-primary {
  background-color: rgba(0, 0, 0, 0);
  color: var(--neon-green);
  border-color: var(--neon-green);
  border-radius: 0px;
  transition: all 0.3s ease 0s;
  /*cursor: url("../images/cursors/ghost-cursor.png"), auto;*/
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: var(--neon-green);
  color: var(--white);
  border-color: var(--neon-green);
}

/* END Re-useable component styling */

/* Navigation styling */

.navbar-inverse {
  background-color: var(--dark-pink);
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  font-family: Montserrat, sans-serif;
  color: var(--white);
}

.navbar-right {
  margin-right: 1em;
  text-align: center;
}

.clear-nav {
  background: none;
  border: none;
}

.dark-nav {
  -webkit-transition: ease-in 0.2s all;
  transition: linear ease-in 0.2s all;
}

/* END Navigation styling */

/* Splash screen styling */

#splash-screen {
  color: var(--white);
  height: 100vh;
  position: relative;

  background: linear-gradient(to top, var(--gradient-pink) 0%, var(--gradient-blue) 100%);
}

#logo {
  margin-top: 40px;
  max-height: 500px;
  user-select: none;
}

#title-main {
  margin-top: -20px;
}

#title-location {
  font-size: 2vh;
  margin-top: -0.5vh;
  line-height: 3.5vh;
  color: var(--white);
}

#main-sponsor {
  font-family: Montserrat, sans-serif;
  font-size: 10pt;
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px;
}

#main-sponsor > span {
  padding-right: 10px;
}

.splash-logo {
  width: 20vh;
}

/* END Splash screen styling */

/* Parallax header styling */

.header {
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em 0 1em 0;
}

.header > h2 {
  text-transform: uppercase;
  font-size: 35pt;
}

/* END Parallax header styling */

/* Main content styling */

#main-body {
  width: 80vw;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 100px;
}

#embedded-map {
  pointer-events: none;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

#signup-button {
  width: 175px;
  font-size: 14pt;
  margin: 0 auto;
  display: block;
  margin-bottom: 30px;
}

.img-holder {
  display: inline-block;
}

.software-logo {
  width: 50px;
  margin: 10px;
}

/* END Main content styling */

/* Footer styling */

#footer {
  text-align: center;
  margin-top: 8em;
  padding: 1em;
  display: block;
  overflow: auto;

  background-color: var(--dark-pink);
}

.footer-logo {
  height: 50px;
}

.footer-logo__large {
  height: 100px;
}

.footer-logo__medium {
  height: 70px;
}

.footer-logo__small{
	height: 23px;
}

/* END Footer styling */

/* Drippy effect from 404ryannotfound on CodePen */
.color{}

.drip-wrapper {
    display: flex;
    border: 0px solid var(--gradient-pink);
    filter: url("#goo");
    height: 100vh;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    left: auto;
    z-index: -1;
}

    .drip-wrapper .drip-top {
        border-radius: 30%;
        height: 50px;
        position: absolute;
        width: 100%;
        top: -30px;
        background: var(--gradient-pink);
    }

    .drip-wrapper .drip-bottom {
        border-radius: 10%;
        height: 50px;
        position: absolute;
        width: 100%;
        bottom: -30px;
        background: var(--light-pink);
    }

    .drip-wrapper .drip {
        border-radius: 50%;
        height: 50px;
        position: absolute;
        width: 50px;
        background: var(--gradient-pink);
        transform: translate(0, 0) scale(2);
        animation: drip-1 cubic-bezier(0.66, 0.1, 0.97, 0.36) 3s infinite;
    }

        .drip-wrapper .drip:nth-child(1) {
            animation-name: drip-1;
            animation-delay: 1.25s;
            left: 5%;
            top: -29%;
        }

        .drip-wrapper .drip:nth-child(2) {
            animation-name: drip-2;
            animation-delay: 0.5s;
            left: 10%;
            top: -20%;
        }

        .drip-wrapper .drip:nth-child(3) {
            animation-name: drip-3;
            animation-delay: 2s;
            left: 20%;
            top: -25%;
        }

        .drip-wrapper .drip:nth-child(4) {
            animation-name: drip-4;
            animation-delay: 1s;
            left: 30%;
            top: -25%;
        }

        .drip-wrapper .drip:nth-child(5) {
            animation-name: drip-5;
            animation-delay: 1.75s;
            left: 50%;
            height: 75px;
            width: 50px;
            top: -20%;
        }

        .drip-wrapper .drip:nth-child(6) {
            animation-name: drip-1;
            animation-delay: 2.25s;
            left: 60%;
            top: -20%;
        }

        .drip-wrapper .drip:nth-child(7) {
            animation-name: drip-2;
            animation-delay: 1.5s;
            left: 75%;
            top: -20%;
            height: 50px;
            width: 30px;
        }

        .drip-wrapper .drip:nth-child(8) {
            animation-name: drip-3;
            animation-delay: 1s;
            left: 90%;
            top: -25%;
        }

        .drip-wrapper .drip:nth-child(9) {
            animation-name: drip-4;
            animation-delay: 0.75s;
            left: 100%;
            top: -25%;
        }

        .drip-wrapper .drip:nth-child(10) {
            animation-name: drip-5;
            animation-delay: 2.5s;
            left: 50%;
            top: -20%;
            height: 50px;
            width: 40px;
        }

        .drip-wrapper .drip:nth-child(11) {
            animation-name: drip-5;
            animation-delay: 0.25s;
            left: -20%;
            top: -20%;
        }

@keyframes drip-1 {
    to {
        transform: translateY(500px) scale(0);
    }
}

@keyframes drip-2 {
    to {
        transform: translateY(800px) scale(0);
    }
}

@keyframes drip-3 {
    to {
        transform: translateY(600px) scale(0);
    }
}

@keyframes drip-4 {
    to {
        transform: translateY(500px) scale(0.4);
    }
}

@keyframes drip-5 {
    to {
        transform: translateY(400px) scale(0.2);
    }
}
